* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(11, 11, 48);
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(151, 151, 214);
    font-size: 1.02rem;
  }

  main hr {
    border: 0;
    background: rgb(153, 153, 226);
    height: 1.2px;
    margin: 60px 84px;
  }
  .left {
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
  }
  .firstSection > div {
    width: 30%;
  }
  .leftSection {
    font-size: 3rem;
  }

  .leftSection .buttons {
    padding: 50px 0;
  }

  .leftSection .btn {
    padding: 12px;background: #1e2167;
    color: white;
    border: 1.5px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }
  .rightSection img {
    width: 100%;
  }
  .purple {
    color: rgb(142, 71, 207);
  }
  .text-gray {
    color: gray;
  }
  #element {
    color: rgb(142, 71, 207);
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 50vh;
  }

  .thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  .secondSection h1 {
    font-size: 2rem;
  }

  .row  {
    display: flex;
    margin-top: 6rem;
    padding-left: 5rem;
  }

  
  .card {
    position: relative;
    max-width: 240px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    margin-left: 9rem;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }


  .card:hover {
    height: 320px;
  }

.card .image {
    position: relative;
    width: 220px;
    height: 220px;

    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .card .image img {
    max-width: 100%;
    border-radius: 15px;
  }

  .card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  /*footer*/

  footer {
    background-color: rgb(19, 15, 34);
  }
  .footer  {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }
  
  .footer ul {
    list-style: none;
  }

  .footer > div {
    width: 223px;
  }

  footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
  }

  /* Responsiveness */

  @media screen and (max-width: 1000px) {

    .firstSection {
      flex-direction: column-reverse;
    }

    .secondSection .row {
      flex-direction: column;
    }
   .thirdSection .row {
    flex-direction: column;
   }
    
  }